@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body,
header,
main,
section,
article,
footer,
div,
h1,
h2,
p,
a,
ul,
li,
img,
span,
label,
input,
button {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Roboto, sans-serif;
  color: #222222;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #484848;
}

label {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER ------------------------------------------------------------- */
.header {
  width: 100%;

  font-size: 0.7em;
  font-weight: 700;

  background: white;
  border-bottom: 1px solid rgba(124, 124, 124, 0.3);
  box-shadow: 0 1px 2px rgba(124, 124, 124, 0.2);

  position: sticky;
  top: 0;
}

.header-content {
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* logo */
.logo img {
  width: 160px;
}

/* search bar */
.search-bar {
  border: 1px solid rgba(124, 124, 124, 0.1);
  border-radius: 2em;
  box-shadow: 0 2px 2px rgba(124, 124, 124, 0.2);

  margin: 1em 0;
  position: relative;
  display: flex;

  transition: box-shadow 0.3s ease-in-out;
}

.search-bar:hover {
  box-shadow: 0 3px 5px rgba(124, 124, 124, 0.2);
}

.search-input {
  border: none;
  border-radius: 2em 0 0 2em;
  padding: 1em 1.2em;
  outline: none;
}

.search-button {
  background: white;
  border: none;
  border-radius: 0 2em 2em 0;

  padding: 0 1em;

  cursor: pointer;
  outline: none;
}

/* menu */
.menu {
  margin: 1em 0;
  display: flex;
}

.menu li a {
  padding: 0.87em;
}

.menu li a:hover {
  text-decoration: none;
  color: #222222;
  background: rgba(124, 124, 124, 0.06);
  border-radius: 2em;
}

.menu li a .fas {
  font-size: 1.2em;
}

/* MAIN CONTENT ------------------------------------------------------- */
.main {
  width: 100%;
}

.cards {
  margin: 1.2em;
}

.cards span:first-child {
  font-size: 0.7em;
}

.cards h1 {
  font-size: 1.2rem;
}

.item-card {
  margin: 2em 0;
}

.item-card a {
  text-decoration: none;
}

.item-card a:hover {
  color: unset;
}

.item-card-img img {
  max-width: 100%;
  border-radius: 0.55em;
}

.item-card-title span {
  font-size: 0.7em;
  color: #7c7c7c;
  margin-bottom: 0.67em;
}

.item-card-title h2 {
  font-size: 0.87em;
  font-weight: normal;
}

.item-card-price {
  font-size: 0.87em;
  font-weight: 700;
}

/* pagination */
.pagination {
  text-align: center;
}

.pagination input {
  text-transform: capitalize;
  font-size: 0.87em;
  font-weight: 700;
  background: white;
  border: none;
  border-radius: 2em;
  padding: 0.87em 1em;
  cursor: pointer;
}

.pagination input:hover {
  background-color: rgba(124, 124, 124, 0.1);
}

/* FOOTER ------------------------------------------------------------- */
.footer {
  width: 100%;
  border-top: 1px solid rgba(124, 124, 124, 0.3);
}

.footer-content {
  font-size: 0.75em;
  padding: 2em 1.5em;
}

.copyright-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.copyright-items p {
  margin-right: 1em;
}

.ul-copyright-items {
  margin: 0.25em 0;
  display: flex;
  flex-wrap: wrap;
}

.ul-copyright-items li {
  margin-right: 1em;
}

.sm-items {
  margin-top: 1em;
  display: flex;
}

.sm-items li {
  margin-right: 1em;
}

.sm-items li a .fab {
  font-size: 1.6em;
}

.sm-items li span {
  display: none;
}

/* MEDIA QUERIES ------------------------------------------------------ */
.map iframe {
  display: none;
}

@media (min-width: 740px) {
  .header-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .item-card {
    border-bottom: 1px solid rgba(124, 124, 124, 0.3);
    margin: 1.2em 0;
    padding-bottom: 1.2em;
    display: flex;
    align-content: center;
  }

  .item-card-img {
    min-width: 280px;
    max-width: 280px;
    margin-right: 1em;
  }

  .item-card-img img {
    display: block;
  }

  .item-card-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item-card-title span {
    display: block;
  }

  .item-card-price {
    text-align: right;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sm-items {
    margin-top: 0;
  }
}

@media (min-width: 1125px) {
  header,
  footer {
    grid-column: 1 / -1;
  }

  .container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 846px calc(100% - 846px);
  }

  .cards h1 {
    font-size: 1.6rem;
  }

  .map iframe {
    width: 100%;
    height: 146vh;
    display: block;
  }
}

/* EXTERNAL RESOURCES ------------------------------------------------- */
.feather {
  width: 20px;
  height: 20px;
  stroke-width: 2.8;
  color: #8fcd61;
}
